
body {
    font-family: sans-serif;
    margin: 0;
  }
#header {
  background-color: #000;
  color: #fff;
  height: 100px;
  display:flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;

}  
.resize {
  width: 100px;
}
#header h1, #firstSection h1 {
  margin: 0;
}
  
main {
  padding: 0px;
}
#firstSection{
  height:1080px;
  background-image: url("https://cdn-sharing.adobecc.com/composite/component/id/urn:aaid:sc:US:80bbe325-6edb-4dfe-83c3-acdcaf92913d?component_id=2077d58d-1d2e-49f6-af6a-5bfd1c176c70&revision=d70be8be-9db9-4e85-ac43-236a97441168&api_key=projectx_webapp&access_token=1695529919_urn%3Aaaid%3Asc%3AUS%3A80bbe325-6edb-4dfe-83c3-acdcaf92913d%3Bpublic_6cbca3e434e792bebe087e8045ee2d73dbedc782");
  color:white;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items:center;
}
#firstSection h1{
  text-align: center;
}
#firstSection h1, #secondSection h1 {
  margin: 0;
}
#secondSection{
    height: 500px;
    background-color: olivedrab;
}
#secondSection h1, #thirdSection h1 {
  margin: 0;
}
#thirdSection{
  height:700px;
  background-color:midnightblue;
}
footer {
  background-color: #ccc;
  color: #000;
  padding: 20px;
}