
body {
    font-family: sans-serif;
    margin: 0;
  }
#header {
  background-color: #000;
  color: #fff;
  height: 100px;
  display:flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;

}  
.resize {
  width: 100px;
}
#header h1, #firstSection h1 {
  margin: 0;
}
  
main {
  padding: 0px;
}
#firstSection{
  height:1080px;
  background-image:url("images/Untitled\ \(5\).png");
  color:white;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items:center;
}
#firstSection h1{
  text-align: center;
}
#firstSection h1, #secondSection h1 {
  margin: 0;
}
#image2Section{
  width: 150px;
}
#secondSection{
  height: 500px;
  background-color:grey;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
#secondSection h1, #thirdSection h1 {
  margin: 0;
}
#thirdSection {
  height:700px;
  background-color:indigo;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#div{
  display:flex;
  justify-content: center;
}

footer {
  background-color: #ccc;
  color: #000;
  padding: 20px;
}